<div class="container text-center">
  <h3>QUIZ MAKER</h3>
</div>

<div class="container mt-4">
  <div class="row">

    <div class="col-5">
      <select #category (change)="onCategorySelected(category.value)" class="form-select" id="categorySelect">
        <option selected>Select a category</option>
        <option *ngFor="let category of categoryList">
          {{category.name}}
        </option>
      </select>
    </div>

    <div class="col-5">
      <select #difficulty (change)="onDifficultySelected(difficulty.value)" class="form-select" id="difficultySelect">
        <option selected>Select difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="col-2">
      <button
        type="button"
        class="btn btn-secondary" 
        id="createBtn"
        [disabled]="!(categorySelected && difficultySelected)"
        (click)="createQuiz()">Create</button>
    </div>
  </div>
</div>

<app-quiz [questions]="questions"></app-quiz>
